@import '../../../../styles/colors';

.sider {
  padding: 8px;
  border-top: 1px solid $sider-border-color;
  border-bottom: 1px solid $sider-border-color;
  border-right: 1px solid $sider-border-color;
}