$header-bg-color: #cdcccc;
$chart-header-border-color: #b0b0b0;
$charts-border-color: #b0b0b0;
$sider-border-color: #b0b0b0;
$popover-bg-color: #fafafa;
$tag-bg-color: transparent;
$button-bg-color: #E3E3E3;