@import '../../../../styles/colors';

.chart {
  .header {
    padding: 7px 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $chart-header-border-color;
    border-bottom: 1px solid $chart-header-border-color;

    .title {
      margin-left: 30px;
    }

    .btnGroup {
      justify-content: flex-end;
      margin-right: 20px;
      column-gap: 20px;

      .charts {
        display: flex;
        column-gap: 5px;
      }

      .actions {
        display: flex;
        column-gap: 5px;
      }
    }
  }

  .echart {
    margin-left: 30px;
  }
}