.header {
  position: relative;
  padding: 20px;
  align-items: flex-start;

  .info {
    row-gap: 10px;

    .breadcrumbs {
      margin-top: -8px;
    }

    .description {
      row-gap: 10px;
      margin-left: 10px;

      .name {
        align-items: center;
        column-gap: 20px;
      }
    }
  }

  .btnGroup {
    align-items: end;
    column-gap: 30px;

    .settings {
      column-gap: 20px;
      align-items: flex-end;
    }

    .actions {
      column-gap: 10px;
    }
  }
}